<!DOCTYPE html>
<html>

<head>
</head>
		<title>Home</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
		<script src="http://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" />
<body>
		<main>
		<center>
			<form method="get" action="/process">
				<input type="text" name="lbcUrl" placeholder="https://www.leboncoin.fr"/>
				<button type=submit> Tell me </button>
			</form>
				
					<% if (error=="No error") {%>
					<div class="mdl-grid content-grid">
					<div id="Bien" class="bien mdl-card mdl-cell--5-col mdl-shadow--2dp">
						<div class="mdl-card__title">
						  <h2 class="mdl-card__title-text deal-card-title">Bien</h2>
						</div>					
						<div class="mdl-card__supporting-text deal-text">
							<p><%= data.lbcData.price %> €</p>
							<p><%= data.lbcData.city %> <%= data.lbcData.postalCode %> </p>
							<p><%= data.lbcData.type %> </p>
							<p><%= data.lbcData.surface %> m²</p>

						</div>
					</div>
					
					<div id="MAPrix" class="bien mdl-card mdl-cell--5-col mdl-shadow--2dp">
						<div class="mdl-card__title">
						  <h2 class="mdl-card__title-text deal-card-title">Prix au m²</h2>
						</div>					
						<div class="mdl-card__supporting-text deal-text">
							<p>Appartement : <%= data.maData.priceAppart %> €/m²</p>
							<p>Maison : <%= data.maData.priceHouse %> €/m²</p>
						</div>
					</div>
					
					<div id="Deal" class="mdl-card  mdl-shadow--2dp deal mdl-cell--5-col">
						<div class="mdl-card__title">
						  <h2 class="mdl-card__title-text deal-card-title">Deal ?</h2>
						</div>
						<div class="mdl-card__supporting-text deal-text">		
							<% if (data.deal.good) {%>
								<p> Good deal ! </p>
							<%} else {%>
								<p> Bad deal ! </p>
						</div>
					</div>
					</div>
					<% }%>
					<% } else {%>
						<p><%= error %></p>
					<% }%>
				
				
			
		</center>
		</main>
</body>

</html>